@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media (prefers-color-scheme: dark){
    body{
        --myBackgroundColor: linear-gradient(117deg, #121215 0%, #262629 100%);
        --myFontColor: #FFF;
        --myMenuFontColor: rgba(255, 255, 255, 0.75);
        --myReversColor: #121215;
        --myReversFontColor: #000;
        --myTextShadowColor: none;
        --mySignatureColor: #7000A0;
    }
}
@media (prefers-color-scheme: light){
    body{
        --myBackgroundColor: linear-gradient(117deg, #EEEEF0 0%, #CCCCD8 100%);
        --myFontColor: #121215;
        --myMenuFontColor: #121215;
        --myReversColor: #FFF;
        --myReversFontColor: #FFF;
        --myTextShadowColor: #FFF;
        --mySignatureColor: #D166FF;
    }
    svg{
        filter: invert(100%);
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--myBackgroundColor);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--myFontColor);
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}
.pageContainer{
    display: flex;
    width: 100%;
    max-width: 1440px;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
}

/*---Kezdő oldal--*/

#mainPageContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-shrink: 0;
}
#mainPageLogo p{
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 15px;
}
#mainPageMenu{
    padding-left: 50px;
    border-left-style: solid;
}
#mainPageMenu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 219px; 
}
#mainPageMenu li{
    font-size: 54px;
    font-style: normal;
    font-weight: 100;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--myFontColor);
}
#mainPageMenu a:visited{
    color: var(--myFontColor);
}
a:hover{
    text-shadow: 0 0 5px #A0009B,
                 0 0 15px #A0009B;
}

/*---Céginfó oldal---*/

header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
    align-items: center;
    border-bottom: 1px solid var(--myFontColor);
}
.menuLogo{
    font-size: 40px;
    font-weight: 100;
}
.altLogo{
    display: none;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header li{
    list-style-type: none;
}
header a{
    color: var(--myMenuFontColor);
    font-size: 24px;
    font-weight: 400;
}
.activeSite{
    font-weight: 700;
    color: var(--myFontColor)
}
#cegInfoSlogen{
    width: 100%;
    padding: 80px;
}
#cegInfoContainer{
    height: 471px;
    width: 100%;
    display: flex;
}
#laptop{
    width: 628px;
    height: 471px;
    position: absolute;
    z-index: -1;
}
#cegInfoContainer h1{
    font-size: 120px;
    font-weight: 400;
    text-shadow: 0 0 15px var(--myTextShadowColor);
    align-self: center;
    padding-left: 31%;
    position: absolute;
}
#cegInfoContainer a{
    position: absolute;
    align-self: self-end;
    right: 80px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    text-decoration-line: underline;
}
#cegInfoContainer a:visited{
    color: var(--myFontColor);
}
#cegInfoContainer a:hover{
    text-shadow: 0 0 5px #A0009B,
                 0 0 15px #A0009B;
}
#theyTold{
    width: 100%;
    background: var(--myFontColor);
    color: var(--myReversColor);
    display: inline-flex;
    padding-bottom: 80px;
    flex-direction: column;
    align-items: center;
}
h2{
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin: 80px;
}
#theySaid{
    width: 100%;
    height: 436px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 73px;
    align-self: stretch;
}
.saidCard{
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.saidCard img{
    width: 168px;
    height: 168px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.saidText{
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
}
.signature{
    width: 100%;
    color: var(--mySignatureColor);
    font-size: 24px;
    font-weight: 400;
    text-align: end;
    margin-top: 24px;
}
#introduction{
    width: 86%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.introductionText{
    width: 100%;
    margin-bottom: 65px;
}
.introductionText p{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}
footer{
    width: 100%;
    background: linear-gradient(90deg, #7000A0 0%, #A0009B 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: #FFF;
    text-align: center;
    font-size: 120px;
    font-weight: 400;
    margin: 75px 255px;
}
.footerLetterSpacing{
    letter-spacing:  calc(100vw * 0.14);
}

/*---Szolgáltatások oldal---*/

#ourServices{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#services{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 50px;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 0 68px 69px 68px;
}
h3{
    white-space: pre-line;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.serviceCard{
    display: flex;
    min-height: 380px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 403px;
    padding: 12px;
    border-radius: 12px;
}
.serviceCard:hover{
    background: linear-gradient(#7000a050 0%, #a0009b56 100%);
    box-shadow: inset 0 0 20px var(--myReversColor),
                      0 0 20px var(--mySignatureColor),
                      0 0 50px var(--mySignatureColor);
}
.serviceText{
    font-size: 24px;
    font-weight: 400;
}

/*---Kapcsolat oldal---*/

#connection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#connectionContainer{
    display: flex;
    gap: 80px;
    padding: 0 80px 100px 80px;
}
#conectionText{
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    padding-right: 24px;
}
#conectionText a{
    text-decoration: underline;
}
.extraMargin{
    margin: 24px 0px;
}
#conectionText ul{
    padding-inline-start: 36px;
}
#formContainer{
    background: var(--myFontColor);
    color: var(--myReversFontColor);
    width: 100%;
    padding: 50px 80px;
}
form{
    width: 100%;
}
#personalDatas{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.inputBox{
    width: 360px;
}
label{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    display: block;
    padding-bottom: 15px;
}
input{
    width: 360px;
    height: 50px;
    border: none;
    border-bottom: 4px solid #A0009B;
    background: #888;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    padding: 12px;
    margin-bottom: 26px;
}
.masageBox{
    width: 100%;
}
textarea{
    width: 100%;
    height: 143px;
    border-bottom: 4px solid #A0009B;
    background: #888;
    font-size: 24px;
    font-weight: 400;
    padding: 12px;
    margin-bottom: 45px;
}
#formButton{
    display: flex;
    justify-content: end;
}
button{
    display: flex;
    width: 200px;
    padding: 13px 106px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background: linear-gradient(92deg, #7000A0 0%, #A0009B 100%); */
    background: linear-gradient(92deg, #7000A0 0%, #A0009B 25%, #ffff00 50%, #A0009B 75%, #7000A0 100%);
    background-size: 400%;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    border: none;
}
button:hover{
    animation: animate 6s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 400%;
    }
    100%{
        background-position: 0%;
    }
}
/*---1280px széles képernyő---*/

@media screen and (max-width:1280px){
    #cegInfoContainer h1{
        font-size: 72px;
    }
    #theyTold{
        padding: 0 24px 80px 24px;
    }
    .serviceCard{
        width: 40%;
    }
}

/*---1100px széles képernyő---*/

@media screen and (max-width:1100px){
    #theySaid{
        height: auto;
        flex-direction: column;
    }
    .saidCard{
        width: 80%;
        align-self: center;
    }
    .menuLogo{
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 2px;
        display: none;
    }
    .altLogo{
        display: flex;
    }
    footer p{
        font-size: 80px;
    }
    #connectionContainer{
        flex-direction: column;
        gap: 64px;
        width: 100%;
        padding: 0 32px 32px 32px;
    }
    #conectionText{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #conectionText a{
        width: auto;
    }
    .extraMargin{
        margin: 24px 0px;
    }
    #conectionText ul{
        padding-inline-start: 36px;
    }
    iframe{
        width: 100%;
        height: 400px;
    }
}

/*---1000px széles képernyő---*/

@media screen and (max-width:1000px){
    #cegInfoContainer a{
        display: none;
    }
    #mainPageContainer{
        flex-direction: column;
    }
    #mainPageLogo p{
        font-size: 48px;
        font-weight: 900;
        letter-spacing: 10px;
        margin-top: 50px;
    }
    #mainPageMenu{
        width: 100%;
        padding-top: 50px;
        border: none;
        border-top: solid 1px;
        padding: 50px 0 0 0;
    }
    #mainPageMenu ul{
        align-items: center;
    }
    #mainPageMenu li{
        font-size: 40px;
        font-weight: 100;
        list-style-type: none;
        text-align: center;
    }
}

/*---800px széles képernyő--*/

@media screen and (max-width:800px){
    #laptop{
        width: 90%;
        min-width: 375px;
        position: relative;
        height: auto;
    }
    #laptop img{
        width: 100%;
    }
    #cegInfoContainer h1{
        font-size: 62px;
    }
    #cegInfoSlogen{
        padding: 32px;
    }
    header{
        height: 116px;
        padding: 8px 24px;
        align-items: center;
    }
    header ul{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
        height: 100px;
        gap: 0px;
    }
    header a{
        font-weight: 100;
        color: var(--myFontColor);
    }
}

/*---640széles képernyő---*/

@media screen and (max-width: 640px){
    #cegInfoContainer{
        height: 281px;
        width: 100%;
    }
    #cegInfoContainer h1{
        font-size: 50px;
        text-shadow: 0 0 10px var(--myTextShadowColor);
        align-self: center;
        padding: 32px 36px 129px 36px;
        text-align: center;
    }
    #cegInfoSlogen{
        padding: 12px 0;
    }
    #laptop{
        width: 375px;
    }
    #laptop img{
        width: 100%;
    }
    footer p{
        font-size: 60px;
    }
    .serviceCard{
        display: flex;
        min-height: 380px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        width: 100%;
        padding: 0;
    }
}

/*---375px széles mobil nézet---*/

@media screen and (max-width: 375px){
    #cegInfoSlogen{
        padding: 0px;
    }
    #cegInfoContainer{
        justify-content: center;
        align-items: center;
    }
    #cegInfoContainer h1{
        font-size: 50px;
        text-shadow: 0 0 10px var(--myTextShadowColor);
        align-self: center;
        text-align: center;
    }
    .activeSite{
        font-weight: 100;
    }
    #theyTold{
        width: 100%;
        display: inline-flex;
        padding-bottom: 80px;
        flex-direction: column;
        align-items: center;
    }
    h2{
        margin: 32px;
    }
    #theySaid{
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 64px;
    }
    .saidCard{
        width: 100%;
        padding: 0 32px;
        display: flex;
        flex-direction: column;
    }
    .saidText{
        font-size: 24px;
    }
    #introduction{
        width: 100%;
        margin: 0;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    .introductionText{
        width: 100%;
        margin-bottom: 14px;
        padding: 0px 32px 12px 32px;
    }
    .introductionText p{
        font-size: 18px;
        margin-bottom: 18px;
    }
    footer p{
        font-size: 40px;
        font-weight: 700;
        margin: 77px auto;
    }
    .footerLetterSpacing{
        letter-spacing: 50px;
    }
    #ourServices h2{
        display: none;
    }
    #services{
        display: flex;
        height: auto;
        row-gap: 64px;
        margin: 32px;
    }
    h3{
        white-space: pre-line;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
    }
    .serviceText{
        padding: 0 3px;
    }
    iframe{
        width: 311px;
    }
    #formContainer{
        width: 100%;
        padding: 32px;
    }
    #personalDatas{
        flex-direction: column;
    }
    .inputBox{
        width: 100%;
    }
    input{
        width: 100%;
    }
    .masageBox{
        width: 100%;
    }
    #formButton{
        justify-content: center;
    }
    textarea{
        margin-bottom: 32px;
        border: solid 1px #A0009B;
    }
}